@import "../../helpers/variables.css";

.buttonsContainer {
  margin-right: 10px;
  box-sizing: border-box;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.NavBar {
  min-width: 360px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  background-color: var(--purple);
  /* border-radius: var(--borderRadius); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  margin: 0px auto;
  box-sizing: border-box;
  color: var(--purple);
}

.NavLinks {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex: 0.4;
  text-decoration: none;
  color: white;
}
.active {
  text-decoration: none;
  color: aliceblue;
  transform: scale(1.25);
}

.inactive {
  text-decoration: none;
  color: aliceblue;
}

.button {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  width: 100%;
  border: 1px solid black;
  border-radius: var(--borderRadius);
  background-color: var(--neon);
  color: var(--purple);
}

@media (max-width: 1000px) {
  .NavLinks {
    display: none;
  }
}

@media (max-width: 730px) {
  .NavLinks {
    display: none;
  }
  .buttonsContainer {
    display: none;
  }
}
