:root {
  --borderRadius: 10px;
  --bgColor: rgba(180, 255, 199, 0.568);
}

.container {
  border: 2px solid blue;
}

.card {
  margin: 0px;
  transition: 150ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  border-radius: var(--borderRadius);
}
.card > * > * {
  padding: 3px;
  background-color: var(--bgColor);
  border: 1px solid black;
  border-radius: 4px;
}

.cardTitle {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.cardContainer {
  height: 300px;
  min-width: 300px;
  max-width: 300px;
  margin: 5px;
  padding: 2px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: var(--borderRadius);
  box-shadow: 0 0 2px rgb(145, 144, 144);
  background-color: #67eeba;
  font-size: 14px;
  font-weight: 500;
  transition: 200ms;
}

.cardContainer:hover {
  transform: scale(1.035);
  box-shadow: 0 0 8px rgb(145, 144, 144);
}

.characterName {
  text-decoration: none;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  color: black;
}

.cardFooter {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  background-color: rgb(219, 88, 88);
}

.characterName:hover {
  transition: 100ms;
  transform: scale(1.05);
  cursor: pointer;
}

.button:hover {
  transition: 100ms;
  transform: scale(1.05);
  cursor: pointer;
}
