


.container{
  border:1px black;
  display:flex;
  margin: 20px;
  flex:0.5;

}

.formControl {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
  border-radius: 40px;
  transition: border-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  margin-right: 10px;
}

.button{
  /* margin:10px; */
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 30px;
  letter-spacing: 0.5px;
  border-radius: 40px;
  background-color: #2c1366;
  color: #c7f3ed
}