@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:wght@300;400&display=swap");

* {
  font-family: "Poppins";
}

.App {
  background-image: url("https://images5.alphacoders.com/633/633151.jpg");
  background-image: url("https://wallpapercave.com/wp/wp1822745.jpg");
  background-image: url("https://images6.alphacoders.com/876/876591.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}
