.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid green;
  min-height: 1100px;
}

.itemContainer {
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  /* align-content: center; */
  flex-wrap: wrap;
  font-size: 18px;
}

.itemContainerWrapper {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  font-size: 18px;
}
